.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.weatherIcon (@iconName) {
  background-image: url('../img/weather/@{iconName}.svg');
  width: 50px;
  height: 50px;
}

html, body {

  background: #2d103c;

  .result {
    .panel {
      .rounded-corners(2px);
    }
  }

  .introduction {

      color: white;

    .loader {

      width: 200px;
      margin: auto;
      :before {
        content: '';
        vertical-align: middle;
      }

      margin-top: 20%;

      div {
        height: 1px;
        width: 0;
margin: auto;
        background: white;
      }
    }
  }
}

.tempIcon {
  width: 10%;
  margin-left: 20px;
}

.weatherIcon {
  img {
    &.temp {
      width: 20%;
      float: left;
    }
    width: 100%;
  }
}