html,
body {
  background: #2d103c;
}
html .result .panel,
body .result .panel {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
html .introduction,
body .introduction {
  color: white;
}
html .introduction .loader,
body .introduction .loader {
  width: 200px;
  margin: auto;
  margin-top: 20%;
}
html .introduction .loader :before,
body .introduction .loader :before {
  content: '';
  vertical-align: middle;
}
html .introduction .loader div,
body .introduction .loader div {
  height: 1px;
  width: 0;
  margin: auto;
  background: white;
}
.tempIcon {
  width: 10%;
  margin-left: 20px;
}
.weatherIcon img {
  width: 100%;
}
.weatherIcon img.temp {
  width: 20%;
  float: left;
}
