<!DOCTYPE html>
<html>
<head>
    <title>Lycorn publishing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script type="text/javascript">
        var userLocation;

        function renderSearchResults(results) {
            angular.element(document.getElementById('searchResults')).scope().$apply(function ($scope) {
                console.log('Apply results', results, $scope);
                $scope.locations = results;
                $scope.arriving = false;

                $(document).trigger('searchResultsRendered');
            });
        }
        $(function () {

            new lycorn.GeolocationProvider(function (location) {
                window.userLocation = location;
                new lycorn.CityAroundResearch(location, renderSearchResults);
            });

            new lycornLoader($('.loader div'));

            $(document).one('searchResultsRendered', function (e) {

                $('.introduction').fadeOut('slow', function (e) {
                    $(this).remove();
                });
            });
        });
    </script>

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>

    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body ng-app="myApp">

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">La météo de la lycorne!</a>
    </div>

</nav>

<div class="container" id="searchResults"  ng-controller="SearchResults">

    <section ng-show="arriving">
        <div class="row">
        <div class="introduction col-xs-12 text-center">
            <h1>The Lycorn Weather</h1>
            <h2>Quelle météo fait-il autour de vous?</h2>


            <div class="loader">
                <h4>Chargement en cours</h4>
                <div></div>
            </div>
        </div>
        </div>
    </section>

    <section ng-hide="arriving">
        <div class="row searchResults text-center">
            <div ng-repeat="location in locations" class="col-xs-12 col-sm-6 col-md-4 result">
                <div class="panel {{getMetroClass($index)}} loading" data-role="searchResult">
                    <div ng-click="doshow[location.zipCode] = !doshow[location.zipCode]" ng-init="doshow[location.zipCode] = $index == 0" class="panel-heading">
                        <div class='row'>
                            <div ng-if="$index % 2 == 0" class="col-xs-2 text-left">
                                <small>{{location.weather.temp}}°C</small>
                            </div>
                            <div class="col-xs-10" ng-class="{true: 'text-left', false: 'text-right'}[$index % 2 != 0]">
                                <h3 class="panel-title">
                                    <img class='tempIcon' ng-show="$index % 2 == 0" src="img/{{getTempIndicatorClass(location.weather.temp)}}.svg" />
                                    {{location.cityName}}
                                    <img class='tempIcon' ng-show="$index % 2 == 1" src="img/{{getTempIndicatorClass(location.weather.temp)}}.svg" />
                                </h3>
                            </div>
                            <div ng-if="$index % 2 != 0" class="col-xs-2 text-right">
                                <small>{{location.weather.temp}}°C</small>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body" ng-show="doshow[location.zipCode] == true">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="weatherIcon">
                                    <div class="col-xs-3">
                                        <img src="img/weather/{{ location.weather.condition.toLowerCase() }}.svg" />
                                    </div>
                                    <div class="col-xs-9">
                                        {{location.weather.conditionLabel}}
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="loading "></div>
            </div>
        </div>
    </section>

</div>
</content>
</body>
</html>
